<h1>Hello {{name}}, you are inside</h1>

<h2>This is your data</h2>
    <ul>
        <li>{{email}}</li>
        <li>{{address}}</li>
    </ul>


    <h3>If you want to see our products, <button class="btn btn-success my-3" onclick="location.href = '/products'">CLICK HERE</button></h3>